# Terraform specific files
*.tfstate
*.tfstate.*
.crash
# *.tfvars
*.tfvars.json
override.tf
override.tf.json
.terraform/
.terraform.lock.hcl
terraform.tfstate.backup

# Ignore backup and temporary files
*.backup
*.bak
*.tmp
*.log
.DS_Store

# Node.js specific files and directories
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# Semantic versioning files
package-lock.json
yarn.lock

# Common editor files
.idea/
.vscode/
*.swp
*.swo
*~

# Operating system files
Thumbs.db
ehthumbs.db
Desktop.ini
